.filters {
    display: flex;
    min-height: 200px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #999;
}

.clear {
    font-weight: bold;
    text-decoration: underline;
    margin-left: 8px;
    cursor: pointer;
}
.span {
    margin-right: 8px;
}
