#root {
    font-family: 'Roboto', sans-serif;
    padding: 0 16px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
.container {
    max-width: 1240px;
    margin: 0 auto;
}
.tabs-list {
    display: flex;
    justify-content: space-between;
}
